[Unit]
Description=Demo radio service container
Requires=routingmanagerd.socket
Wants=engine.service

[Container]
Image=localhost/auto-apps
Volume=/run/vsomeip:/run/vsomeip
Exec=/usr/bin/radio-service

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
